.background__img{
    background-image: url(../IMG/background-index.jpg);
    background-size: cover;
    
}
.titulo{
    font-size: 100px;
    font-family: 'Lora', serif;
    display: flex;
    color: rgb(64, 14, 21);
    flex-direction: row-reverse;
    justify-content: center;
}
.ver__mas{
    width: 100%;
    color:$primary-color ;
}

.fondo__destacados{
    background-color: rgb(248, 245, 245);

}

.cuatro__imagenes{
    display: flex;
    justify-content: space-around;
}









        

        
    
    
    
