#productos{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    flex-wrap: wrap;
    gap:40px;
    margin:0 auto;
    padding: 80px;
    
    
}
#archivo{
    display: none;
}


.card-in{
    height: auto;
    width: 150px;

}
.bebidas{
    display: flex;
    // justify-content: space-between;
    margin:10px;
}

.navbar{
    background-color: $primary-color;
}
.container-fluid{
    display: flex;
    justify-content: space-around;
}



.form-datos{
    margin:20px;
}
.btn{
    padding: 10px;
    border-radius: 20px;
    margin: 2px;
    
}

.filtro{
        display: flex;
    flex-direction: column; 
}

.card{
    box-shadow: 0.2px 1px 2px $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    // object-fit: contain;
    background-color:beige
    
}
img{
    height: 200px;
    width: 200px;
    
}
.img-fluid{
    width: 262px;
    height: 262px;
    
}


.filtro{
    display: flex;
    justify-content: space-around;
    border:2px solid black;
    box-shadow: 1px 1px 2px ;
    margin:10px;
    padding: 10px;
}
.filtro-radio{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.buscaTuBebida{
    text-align: center;
    font-size: 2em;
    
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
i{
    margin:5px;
    font-size:20px;
    color: $primary-color;
}
#modal-body{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px;
}

/* CLase prueba ternario */

.ofertaColor{
    color:green;
}
.precioComun{
    color:goldenrod;
}

#side_nav{
    background-color: $terciary-color;
    min-width: 250px;
    max-width: 250px;
    // height: 100vh;
    
}
.content{
    min-height: 100vh;
    
}
hr.h-color{
    background: $primary-color;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sidebar li.active{
    background-color: $primary-color;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{
    color:$primary-color;
}

.mi-carrito{
    background-color: rgb(115, 130, 170);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


/* clases de sweet alert */
.swa-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.swa-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
