.datos{
    background-color: #280400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 50%;

}

.datos h3{
    font-size: 40px;
}
.datos p{
    font-style: italic;
}
.learn__more{
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid;
    border-color: rgba(232,226,215,0.2);
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    font-style: italic;
}
.learn__more:hover{
    transition: 0.4s;
    border-color: antiquewhite;
    color: antiquewhite;
}

.visitanos__titulo{
    
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(64, 14, 21);
}
.plan__visit{
    text-decoration: none;
    cursor: pointer;
    color: rgb(64, 14, 21);
    border: 1px solid rgb(64, 14, 21) ; 
    padding: 20px 40px 20px 40px;
}
.plan__visit:hover{
    background-color: rgb(64, 14, 21);
    color: white;
    transition: 0.4s;

}


.background__uvas{
    background:url(../img/background-uvas.png);
    /* padding: 80px 0px; */
    
    
    

}